.blurred-bg {
    background-image: url('./images/placeholder.png');
    background-size: 100%;
    background-position: center;
    filter: blur(6px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    clip-path: inset(0 0 20px 0);
    background-color: white;
}